<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="gold">
    <center>
    <h1>Document Classification Model</h1>
    <form method="POST" action="/prediction">
        <label for="text">Enter Text:</label>
        <textarea name="text" rows="10" cols="50"></textarea>
        <br>
        <br>
        <input type="submit" value="Classify Document">


    </form>
    </center>
    
</body>
</html>




